Package: com.animation.ios26
Name: 26custom
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Mobile User
Author: Mobile User
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
